body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#menu1 {
    float: left;
    padding-left: 30px;
}

#menu2{
    float: right;
    padding-right: 50px;
}

.nav {
    position: relative;
    top: -9px;
    padding: 9px 0px 50px 0px;
    background-color: aliceblue;
    margin-bottom: 0px;
}

.nav ul, li, a {
    display: inline;
    padding-left: 10px;
    text-decoration: none;
    color: dimgrey
}

.jumbotron {
    background-color: cornflowerblue;
    position: relative;
    top: -9px;
    padding: 80px 0px 80px 0px;
}

.jumbotron h1 {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: Oswald;
}

.main {
    margin: 0px 25px 0px 25px;
    position: relative;
}

.facebook {
    margin: -100000000px 20px 20px 20px;
    position: relative;
    border-radius: 15px;
    border: solid;
    font-size: 30px;
    font-family: Oswald;
    color: white;
    padding: 0em 0.5em;
    background: #3B5998;
    transition-duration: .1s;  
    cursor: pointer;
    outline: 0;
}

.facebook:hover {
    background-color: white;
    color:#3B5998;
    transform: scale(1,1);
    transition-duration: .1s;
}

.facebook:active {
    transform: scale(0.98,0.98);
    background-color: dodgerblue;
    color: #E8E8ED;
    transition-duration: .1s;
}

.gplus {
    margin: -100000000px 70px 50px -30px;
    position: relative;
    border-radius: 15px;
    border: solid;
    font-size: 30px;
    font-family: Oswald;
    color: white;
    padding: 0em 0.25em;
    background: #fe4a67;
    transition-duration: .1s;  
    cursor: pointer;
    outline: 0;
}

.gplus:hover {
    background: white;
    color:#fe4a67;
    transform: scale(1,1);
    transition-duration: .1s;
    border: solid;
}

.gplus:active {
    transform: scale(0.98,0.98);
    background: white;
    color: #fe4a67;
}

.insta {
    margin: 55px -181px 50px;
    position: relative;
    border-radius: 15px;
    font-size: 30px;
    border: solid;
    font-family: Oswald;
    color: white;
    background: #bc2a8d;
    padding: 0em 0.559em;
    transition-duration: .1s;
    cursor: pointer;
}

.insta:hover {
    background: white;
    color: #bc2a8d;
    transform: scale(1,1);
    transition-duration: .1s;
}

.insta:active {
    transform: scale(0.98,0.98);
    background: white;
    color: #bc2a8d;
}

.main p {
    font-size: 18px;
    font-family: Helvetica, serif;
}
